<h1>Contact Form</h1>
<form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
    <div class="mb-4">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" required #name ="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Este campo es requerido</div>
    </div>
    <div class="mb-4 form-check">
        <label for="checkAdult" class="form-label">¿Tienes más de 18 años?</label>
        <input type="checkbox" class="form-check-input" id="checkAdult" name="checkAdult" [(ngModel)]="model.checkAdult" #checkAdult="ngModel" required>
        <div [hidden]="checkAdult.valid || checkAdult.pristine" class="alert alert-danger">Este campo es requerido</div>
    </div>
    <div class="mb-4">
        <label for="departament" class="form-label">Departamento</label>
        <select name="departament" id="departament" class="form-select form-select-sm" [(ngModel)]="model.departament" #departament="ngModel" required>
            <option selected>Selecciona una opción</option>
            <option value="marketing">Marketing</option>
            <option value="sales">Compras</option>
            <option value="other">Otros</option>
        </select>
        <div [hidden]="departament.valid || departament.pristine" class="alert alert-danger">Este campo es requerido</div>
    </div>
    <div class="mb-4">
        <label for="name" class="form-label">Comentarios</label>
        <textarea class="form-control" name="comment" id="comment" placeholder="Deja un comentario" rows="4" [(ngModel)]="model.comment" #comment="ngModel" required></textarea>
        <div [hidden]="comment.valid || comment.pristine" class="alert alert-danger">Este campo es requerido</div>
    </div>
    <div class="d-grid gap-2 col-4 float-end">
        <button  type="submit" class="btn btn-success btn-lg" [disabled]="contactForm.invalid" >Enviar datos</button>
    </div>
</form>
<pre>{{contactForm.value | json }}</pre>