*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}
ul{
    list-style-type: none;
}
.first{
    padding: 2em;
    box-shadow: -1px 5px 11px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 5px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 11px 0px rgba(0,0,0,0.75);
    margin-bottom: 3em;
}
.city{
    margin-top: 3.5em;
}