<!-- INTERPOLACION EN ANGULAR -->

<!-- <p>{{ title }}</p>
<p> La resta de 10 - 8 es: {{ 10 - 8 }}</p>
<img src="{{ url }}" alt=""> -->

<!-- DIRECTIVAS ESTRUCTURALES DE ANGULAR  -->
<!--*ngIf = 'Instruccion IF' :: Si name es null, no aparece en el DOM-->
<!--[(ngModel)] = "VAR":: Podemos cambiar el valor de una variable declarada-->
<!--*ngFor = 'Instruccion en bucle FOR' -->
<!-- <li [ngStyle]="{'color':'white', 'background-color' : city === 'Madrid' ? 'blue' : 'green'}">{{city}}</li> -->
<!-- EVENTO (click) = func($event) -->
<!-- DIRECTIVAS NO ESTRUCTURALES (ATRIBUTOS) DE ANGULAR -->
<!-- <button (click)="OnClear()">Clear</button> -->
<!-- 
<p *ngIf="name">El nombre es: {{ name }}</p> 
<input type="text" [(ngModel)] = "name">      -->






<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>

      <!-- <app-contacto></app-contacto>
    </div>
    <div class="col-6">
      <app-contact-reactive></app-contact-reactive>
    </div>
    <div class="col-3">Datos</div> -->
  </div>
</div>